name: Continuous Integration

on:
  pull_request:

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          cache: npm

      - run: npm ci
      - run: npm run format:check
      - run: npm run lint

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          cache: npm

      - id: test-env-injection
        run: |
          echo "NOTION_TO_JEKYLL_API_KEY=${{ secrets.NOTION_TO_JEKYLL_API_KEY }}" >> $GITHUB_ENV
          echo "NOTION_TO_JEKYLL_DATABASE_ID=${{ secrets.NOTION_TO_JEKYLL_DATABASE_ID }}" >> $GITHUB_ENV
          echo "NOTION_TO_JEKYLL_PAGE_ID=${{ secrets.NOTION_TO_JEKYLL_PAGE_ID }}" >> $GITHUB_ENV

      - id: git-config
        run: |
          git config --global user.name ${{ github.actor }}
          git config --global user.email ${{ github.actor }}@users.noreply.github.com

      - run: npm ci
      - run: npm run test
